body {
  --top-height: 60px;
  --map-width: 50%;
  /* scroll-snap-type: y mandatory; */
  scroll-padding: var(--top-height);
}

.button {
  position: absolute;
  z-index: 2;
}

.top {
  position: fixed;
  width: 100%;
  height: var(--top-height);
  background-color: #aaa;
  z-index: 1;
}

.map {
  position: fixed;
  top: var(--top-height);
  right: 0;
  left: var(--map-width);
  height: calc(100vh - var(--top-height));
  background-color: #ddd;
}

.page {
  position: absolute;
  width: calc(100vw - var(--map-width));
  display: grid;
  grid-template-rows: [profile] auto [events] auto;
  grid-template-columns: [timeline] 40px [detail] auto;
  grid-template-areas:
    "timeline profile"
    "timeline detail"
}

.profile {
  grid-area: profile;
  padding: 10px;
  padding-top: var(--top-height);
  scroll-snap-align: start;
}

.profile img {
  height: 400px;
}

.timeline {
  grid-area: timeline;
  position: sticky;
  height: calc(100vh - var(--top-height));
  top: var(--top-height);
  background-color: #ccc;
}

.timeline svg {
  width: 100%;
  height: 100%;
}

.timeline line {
  stroke: black;
  transition: .3s linear transform
}

.timeline .rfmosColumn {
  transform: translateX(5px);
}

.timeline .eventsColumn {
  transform: translateX(20px);
}

.timeline rect {
  rx: 5;
  ry: 5;
  fill-opacity: .5;
}

.timeline .rfmosColumn rect {
  fill: gray
}

.timeline .eventsColumn rect {
  fill: red
}

.timeline rect.highlighted {
  stroke: black;
  fill: white;
  fill-opacity: 1;
}


.detail {
  grid-area: detail;
}

.event {
  position: relative;
  margin-left: 100px;
  height: 90px;
  border: 1px solid #ddd;
  scroll-snap-align: center;
}

.event:first-child {
  margin-top: 50vh;
}

.event:last-child {
  margin-bottom: 50vh;
}

.event.highlighted {
  font-weight: bold;
  /* height: 160px; */
  background-color: aquamarine;
}

.encounteredVessel {
  position: absolute;
  top: 20px;
  left: -80px;
}
