.searchContainer {
  position: relative;
}

.searchInput {
  width: 100%;
  display: block;
}

.optionList {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  background-color: antiquewhite;
}
