.searchContainer {
  position: relative;
  font-size: 14px;
}

.searchInput {
  width: 100%;
  display: block;
  font-size: inherit;
  padding: 10px;
  border-width: 2px;
  background-color: transparent;
}

.searchErrorsContainer {
  font-size: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: transparent;
  text-decoration: underline;
  padding: 12px; /* padding + border input */
}

.searchItemError {
  text-decoration: underline;
  text-decoration-color: red;
}

.optionListContainer {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  background-color: antiquewhite;
}

.optionList {
  margin: 0;
  padding: 0;
}

.optionlistItem {
  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.optionlistItemLoading {
  composes: optionlistItem;
  pointer-events: none;
}

.optionlistItemPlaceholder {
  opacity: 0.6;
}

.loadingContainer {
  position: absolute;
  bottom: 0;
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0,0,0,.1);
  border-radius: 50%;
  border-top-color: inherit;
  animation: spin 1s ease-in-out infinite;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
