.mapContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.arrow {
  display: inline-block;
  z-index: 11;
  width: 0;
  height: 0;
  border-style: solid;
  transform-origin: center;
  border-width: 0 7px 25px 7px;
  /* transition: transform 0.3s; */
  border-color: transparent transparent rgb(207, 58, 58) transparent;
}

.event {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: rgb(207, 58, 58);
  transform: translate(-50%, -50%);
}

.eventActive {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
